## Importing Libraries

In [1]:
# Step 1: Importing necessary libraries
import pandas as pd
import numpy as np
import os

## Importing Data

In [2]:
path = '/Users/lpm/Downloads/CF_2_Data Immersion/4 Python/Instacart Basket Analysis'

In [3]:
path

'/Users/lpm/Downloads/CF_2_Data Immersion/4 Python/Instacart Basket Analysis'

In [4]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [5]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [6]:
df_ords_prods_merge.describe()

,product_id,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07
mean,2.559866e+04,7.119612e+01,9.919792e+00,1.198023e+01,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,8.352547e+00,5.895873e-01
std,1.408400e+04,3.821139e+01,6.281485e+00,4.956554e+02,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,7.127071e+00,4.919087e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00
50%,2.530200e+04,8.300000e+01,9.000000e+00,7.400000e+00,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00
75%,3.794700e+04,1.070000e+02,1.600000e+01,1.130000e+01,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.100000e+01,1.000000e+00
max,4.968800e+04,1.340000e+02,2.100000e+01,9.999900e+04,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00

In [7]:
df_ords_prods_merge.shape

(32404859, 14)

In [8]:
# Step 2: Create smaller subset to save computational power
df = df_ords_prods_merge[:1000000]

In [9]:
df.shape

(1000000, 14)

In [10]:
# Step 3: Define price label
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [11]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_8877/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [12]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [13]:
df['prices'].max()

24.5

### If-statements with loc() function

In [14]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_8877/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

##### Adding the price column to the original dataframe

In [18]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [19]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [20]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [21]:
# Step 1: Checking the values of the new column
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [22]:
# Step 2: Checking the max price
df_ords_prods_merge['prices'].max()

99999.0

I seem to have missed excluding "Lowfat 2% Milkfat Cottage Cheese" and "2 % Reduced Fat Milk" from my dataset due to wrong price info

In [23]:
df_ords_prods_merge[df_ords_prods_merge['prices'] > 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc
13100147,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,5.0,5,0,both,High-range product
13100148,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,4.0,3,1,both,High-range product
13100149,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,13.0,6,0,both,High-range product
13100150,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,12.0,3,1,both,High-range product
13100151,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,30.0,9,0,both,High-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,29,0,8,4.0,1,0,both,High-range product
21786877,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,31,0,9,2.0,1,1,both,High-range product
21786878,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,13,3,15,8.0,25,0,both,High-range product
21786879,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,7,3,20,4.0,8,0,both,High-range product
21786880,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,10,0,11,4.0,23,1,both,High-range product

### If-statements with for-loops

In [24]:
# Step 1: Printing the frequency of the different observations to understand on which day most orders happen
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [25]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [26]:
df_ords_prods_merge['busiest_day'] = result

In [27]:
# Step 2: Check output of new column
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

### TASK 4.7.

In [28]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value in (0,1):
    result.append("Busiest days")
  elif value in (3,4):
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [29]:
# Step 1: Create a new column called busiest days based on the results of our for loop
df_ords_prods_merge['busiest_days'] = result

#### Check the values of this new column for accuracy. Note any observations in markdown format.

In [30]:
# Step 2: Check output of new column
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: count, dtype: int64

In [31]:
# Step 3: Check output of new column
df_ords_prods_merge['busiest_days'].value_counts(dropna = False).sum()

np.int64(32404859)

There are less average days, as expected. Number of observations sum up to the correct number of observations in df.

####  Identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [32]:
# Step 4: Understand which hours are busiest, average and lowest
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

Highest: 10,11,14,15,13,12,16,9
Lowest: 3,4,2,5,1,0,6,23
Average: else

In [33]:
# Step 5: Create a list where a string describes the frequency of orders based on the number of order during that hour
result = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value in (10,11,14,15,13,12,16,9):
    result.append("Most orders")
  elif value in (3,4,2,5,1,0,6,23):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [34]:
# Step 6: Create a new column called busiest hours based on the results of our for loop
df_ords_prods_merge['busiest_hours'] = result

In [35]:
# Step 7: #check frequency of new column
df_ords_prods_merge['busiest_hours'].value_counts(dropna = False)

busiest_hours
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [36]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy,Average orders

In [37]:
# Step 8: Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))