## 4.9. Visualizations - Tasks - Part 1

## Contents

- [4.9. Visualizations – Tasks – Part 1](#49-visualizations--tasks--part-1)
  - [Importing Libraries](#importing-libraries)
  - [Importing Data](#importing-data)
  - [Task 4: Wrangle the data so that it follows consistent logic](#task-4-wrangle-the-data-so-that-it-follows-consistent-logic-for-example-rename-columns-with-illogical-names-and-drop-columns-that-dont-add-anything-to-your-analysis)
  - [Task 5: Complete fundamental data quality and consistency checks](#task-5-complete-the-fundamental-data-quality-and-consistency-checks-youve-learned-throughout-this-achievement)
    - [Data Types](#data-types)
    - [Check for Missing Values](#check-for-missing-values)
    - [Check for Obvious Issues](#check-for-obvious-issues)
    - [Check for Duplicates](#check-for-duplicates)
    - [Check for Mixed-Type Data](#check-for-mixed-type-data)
  - [Task 6: Combine your customer data with the rest of your prepared Instacart data](#task-6-combine-your-customer-data-with-the-rest-of-your-prepared-instacart-data)
  - [Task 7: Ensure your notebook contains logical titles, section headings, and descriptive code comments.](#task-7-ensure-your-notebook-contains-logical-titles-section-headings-and-descriptive-code-comments)
  - [Task 8: Export this new dataframe as a pickle file](#task-8-export-this-new-dataframe-as-a-pickle-file-so-you-can-continue-to-use-it-in-the-second-part-of-this-task)

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Importing data

In [2]:
path = '/Users/lpm/Downloads/CF_2_Data Immersion/4 Python/Instacart Basket Analysis'

In [3]:
path

'/Users/lpm/Downloads/CF_2_Data Immersion/4 Python/Instacart Basket Analysis'

In [4]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [5]:
df_customers.shape

(206209, 10)

### Task 4: Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [6]:
#checking the column names and some observations
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

We could simplify the column names by removing caps and connecting multiple words with a "_".
"Surnam" should be changed to last_name.
n_dependants and income are unclear.

#### Columns names

In [7]:
df_customers.rename(columns = {'First Name': 'first_name', 'Surnam': 'last_name', 'Gender': 'gender', 'STATE': 'state', 'Age': 'age', 'n_dependants': 'n_dependents'}, inplace = True)

In [8]:
# Checking the output:

df_customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependents,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### Task 5: Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

#### Data types

In [9]:
# Checking the data types

df_customers.dtypes

user_id          int64
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependents     int64
fam_status      object
income           int64
dtype: object

In [10]:
# UserID could be changed to a string
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [11]:
# date_joined could be a proper date format
df_customers['date_joined'] = pd.to_datetime(df_customers['date_joined'])

In [12]:
# Checking the output:
df_customers.dtypes

user_id                 object
first_name              object
last_name               object
gender                  object
state                   object
age                      int64
date_joined     datetime64[ns]
n_dependents             int64
fam_status              object
income                   int64
dtype: object

In [13]:
# check if datetime conversion was successful
df_customers['date_joined'].head()

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: date_joined, dtype: datetime64[ns]

In [14]:
df_customers['date_joined'].isna().sum()

np.int64(0)

No missing values

In [15]:
print(df_customers['date_joined'].min())
print(df_customers['date_joined'].max())

2017-01-01 00:00:00
2020-04-01 00:00:00

Sensible data range

### Check for missing values

In [16]:
df_customers.isna().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependents        0
fam_status          0
income              0
dtype: int64

We seem to be missing a lot of first_name information but it should be enough to know the last_name and user_id for identification. I'd simply keep the values.

### Check for obvious issues

In [17]:
df_customers.describe()

,age,date_joined,n_dependents,income
count,206209.000000,206209,206209.000000,206209.000000
mean,49.501646,2018-08-17 03:06:30.029532928,1.499823,94632.852548
min,18.000000,2017-01-01 00:00:00,0.000000,25903.000000
25%,33.000000,2017-10-23 00:00:00,0.000000,59874.000000
50%,49.000000,2018-08-16 00:00:00,1.000000,93547.000000
75%,66.000000,2019-06-10 00:00:00,3.000000,124244.000000
max,81.000000,2020-04-01 00:00:00,3.000000,593901.000000
std,18.480962,NaN,1.118433,42473.786988

All values seem to be within a sensible range

### Check for duplicates

In [18]:
df_customers.duplicated().sum()

np.int64(0)

In [19]:
df_customers['user_id'].duplicated().sum()

np.int64(0)

No duplicate entries or duplicate user_id

### Check for mixed-type data

In [20]:
# Checking whether the dataframe contains any mixed-type columns:
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers
             [[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_customers[weird]) > 0:
        print(col)

/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers

first_name

/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
/var/folders/1j/6kl1db154h162qkvyqrhft3h0000gn/T/ipykernel_25562/4098612518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers

In [21]:
df_customers['first_name'].map(type).value_counts()

first_name
<class 'str'>      194950
<class 'float'>     11259
Name: count, dtype: int64

Seems like the NaN values are stored as float. No need to change them.

### Task 6: Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [22]:
# Importing ords_prod_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [23]:
ords_prods_merge.shape

(32404859, 24)

In [24]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,avg_spend_user,spending_flag,last_order_median,active_customer_status
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

#### We need to combine both dfs on the user_id column

In [25]:
# Checking if the data type is matching 
ords_prods_merge['user_id'].dtype

dtype('int64')

In [26]:
# Checking if the data type is matching 
df_customers['user_id'].dtype

dtype('O')

In [27]:
# Converting the data type to int64
df_customers['user_id'] = df_customers['user_id'].astype('int64')

In [28]:
# Checking results:
df_customers['user_id'].dtype

dtype('int64')

#### Checking unique values in the user_id column in both dataframes

In [29]:
ords_prods_merge['user_id'].nunique()

206209

In [30]:
df_customers['user_id'].nunique()

206209

#### Combine the dataframes

In [31]:
df_merging = ords_prods_merge.merge(df_customers, on = 'user_id', indicator ='merging_status')

In [32]:
df_merging.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,gender,state,age,date_joined,n_dependents,fam_status,income,merging_status
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,2018-06-16,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2020-02-09,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2020-02-09,3,married,31308,both

In [33]:
df_merging.shape

(32404859, 34)

In [34]:
df_merging['merging_status'].value_counts()

merging_status
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Task 7: Ensure your notebook contains logical titles, section headings, and descriptive code comments.

## Task 8: Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [35]:
# Export data to pkl 
df_merging.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_custs_merge.pkl'))