## Task 4.9 | Part 1

#### Importing analysis libraries

In [1]:
import pandas as pd
import numpy as np
import os

#### Importing the dataframe

In [2]:
# Storing the path in a variable

path = r'C:\Users\andd0\Documents\InstaCart Basket Analysis'

In [3]:
# Importing the customers dataframe

df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
df_customers.shape

(206209, 10)

#### <b>Step No. 4:</b>

#### Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that donâ€™t add anything to your analysis.

In [5]:
# Checking the names of columns and first 5 rows

df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### Columns names

In [6]:
# Fixing column names' inconsistencies:

df_customers.rename(columns = {'First Name': 'first_name', 'Surnam': 'surname', 'Gender': 'gender', 'STATE': 'state', 'Age': 'age', 'n_dependants': 'n_dependents'}, inplace = True)

In [7]:
# Checking the output:

df_customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependents,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### Data types

In [8]:
# Checking the data types

df_customers.dtypes

user_id          int64
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependents     int64
fam_status      object
income           int64
dtype: object

In [9]:
# The data type of the user_id variable is integer. There will be no need to calculate stats for this variable (mean, min, max, etc.). 
# Therefore, I'll change it to the string data type

df_customers['user_id'] = df_customers['user_id'].astype('str')

In [10]:
# Checking the output:

df_customers['user_id'].dtype

dtype('O')

#### End of data wrangling: I'm not dropping any columns - I believe all are relevant to the analysis. There's no need to transpose data either.

#### <b>Step No. 5:</b>

#### Complete the fundamental data quality and consistency checks youâ€™ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [11]:
df_customers.describe()

                 age   n_dependents         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

In [12]:
# These stats seem reasonable.

#### Mixed-type data

In [13]:
# Checking whether the dataframe contains any mixed-type columns:

for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers
             [[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_customers[weird]) > 0:
        print(col)

first_name

C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\55206165.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers

In [14]:
# Fixing:

df_customers['first_name'] = df_customers['first_name'].astype('str')

In [15]:
# Checking output:

df_customers['first_name'].dtype

dtype('O')

In [16]:
# A second check...

for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers
             [[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_customers[weird]) > 0:
        print(col)

C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers
C:\Users\andd0\AppData\Local\Temp\ipykernel_10268\522570047.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers

In [17]:
# All good

#### Missing values

In [18]:
# Finding missing values

df_customers.isnull().sum()

user_id         0
first_name      0
surname         0
gender          0
state           0
age             0
date_joined     0
n_dependents    0
fam_status      0
income          0
dtype: int64

In [19]:
# No missing values to fix

#### Duplicates

In [20]:
# Let's find any duplicates:

df_dups = df_customers[df_customers.duplicated()]

In [21]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependents, fam_status, income]
Index: []

In [22]:
# No duplicates to fix

#### <b>Step No. 6</b>

#### Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [23]:
# Importing the prepared dataframe

df_prepared_dataframe = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_Task_4_8.pkl'))

In [24]:
df_prepared_dataframe.shape

(32434212, 26)

In [25]:
df_prepared_dataframe.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spend_user,spending_flag,ord_regularity_median,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regular days,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

#### Key column to combine both data sets: user_id

In [26]:
# Making sure the data type matches the one of the customers df

df_prepared_dataframe['user_id'].dtype

dtype('int64')

In [27]:
# Converting the data type to string

df_prepared_dataframe['user_id'] = df_prepared_dataframe['user_id'].astype('str')

In [28]:
# Checking results:

df_prepared_dataframe['user_id'].dtype

dtype('O')

#### Checking unique values in the user_id column (df_prepared_dataframe)

In [29]:
df_prepared_dataframe['user_id'].nunique()

206209

In [30]:
# Comparing with those of the customer's df

df_customers['user_id'].nunique()

206209

#### Chosen method to combine both df: merging. The data frames differ in shape; however, they share a key column.

In [31]:
df_merging = df_prepared_dataframe.merge(df_customers, on = 'user_id', indicator ='merging_status')

In [32]:
df_merging.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,surname,gender,state,age,date_joined,n_dependents,fam_status,income,merging_status
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [33]:
df_merging.shape

(32434212, 36)

In [34]:
df_merging['merging_status'].value_counts()

merging_status
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

#### Checking the real merge rate

##### The 'outer' merge will combine all the observations and show the real merge rate

In [35]:
df_merging_out = df_prepared_dataframe.merge(df_customers, on = 'user_id', how = 'outer', indicator ='merg_status')

In [36]:
df_merging_out['merg_status']

0           both
1           both
2           both
3           both
4           both
            ...
32434207    both
32434208    both
32434209    both
32434210    both
32434211    both
Name: merg_status, Length: 32434212, dtype: category
Categories (3, object): ['left_only', 'right_only', 'both']

##### Outcome: Full match

#### <b>Step No. 8</b>

#### Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [37]:
df_merging.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'dataframe_exercise_4_9.pkl'))